* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	text-align: center;
}

.search_box {
	margin: 30px;
}
.search_box h1 {
	padding: 15px;
	color: #333;
}
.search_box input {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #555;
	text-align: left;
}
.search_box button {
	padding: 5px;
	margin-left: 5px;
	background-color: #555;
	color: #fff;
	border-radius: 5px;
	font-size: 13px;
}

.result_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}
.result_box li dl {
	display: flex;
	flex-direction: column;
	padding: 15px;
	border: 1px dashed #555;
	width: 500px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.result_box dt {
	font-size: 20px;
	color: #555;
	padding-bottom: 10px;
}
.result_box dd img {
	width: 500px;
}
.result_box dd {
	font-weight: bold;
	text-align: left;
	color: #777;
}
.result_box dd:last-child {
	padding: 5px 0;
	color: #555;
	font-weight: normal;
}

.frist_img {
	padding-top: 50px;
	width: 100px;
}
